header nav .navigation {
  background-color: #951936;
  position: relative;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-top: 0 solid #dedede;
  border-bottom: 0 solid #dedede;
  padding: 0 24px;
  margin: 0;
}
header nav .navigation a {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
header .crnc-banner {
  background-image: url("/themes/crnc/asset/img/body.png");
  background-repeat: repeat-x;
  position: relative;
  top: -48px;
  height: 120px;
}

header .crnc-banner h1 a {
  color: white;
  text-align: left;
  text-shadow: 2px 2px 2px #951936;
  padding-left: 3rem;
  padding-top: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header .crnc-banner img {
  float: right;
  padding-right: 28px;
}

